.link-primary {
    color: $primary;

    &:hover {
        color: $secondary;
    }
}

.link-img-70:hover {
    position: relative;
    background-color: $black;

    .btn-triangle {
        display: block !important;
        z-index: 2 !important;
    }
    .card-text {
        display: block !important;
    }

    &::after {
        content: " ";

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        background-color: $black;
        opacity: 0.7;
    }
}

@include media-breakpoint-up(lg) {
    .link-img-lg-50:hover {
        position: relative;
        background-color: $black;

        .btn-triangle::after {
            border-bottom: 16px solid $black;
        }

        .card-text {
            display: none !important;
        }
    
        &::after {
            content: " ";
    
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            
            background-color: $black;
            opacity: 0.5;
        }
    }
}

.hover:hover {

    @include media-breakpoint-up(lg) {
        .hover-block-lg {
            display: block !important;
        }
    }
}