.triangle {
    width: 0;
    height: 0;
    
    border-right: 16px solid $secondary;
    border-top: 16px solid transparent;
}

.triangle-left-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 24px 0 0;
    border-color: $primary transparent transparent transparent;
}

.triangle-right-top {
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 24px 24px 0;
    border-color: transparent $primary transparent transparent;
}

.triangle-right-bottom {
    position: relative;

    &::after {
        content: " ";

        position: absolute;
        right: 0;
        bottom: 0;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 32px 32px;
        border-color: transparent transparent $primary transparent;
    }
}

.triangle-secondary {

    &::after {
        border-color: transparent transparent $secondary transparent !important;
    }
}